[submodule "rain-protocol"]
	path = rain-protocol
	url = https://github.com/rainprotocol/rain-protocol.git
[submodule "rain.extrospection"]
	path = rain.extrospection
	url = https://github.com/rainprotocol/rain.extrospection.git
[submodule "rain.interpreter"]
	path = rain.interpreter
	url = https://github.com/rainprotocol/rain.interpreter.git
