node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
contracts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#graph
build
generated
docker/data
config/localhost.json
scripts/deployConfig.json

# Rain protocol files
/contracts
/utils
opmeta_schema.json

